<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora exercitationem quo veritatis
                    molestiae
                    iste
                    quia laudantium aut, amet asperiores vitae voluptas necessitatibus aspernatur quasi optio, aliquid
                    non
                    neque
                    suscipit! Enim.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quas, debitis ullam assumenda odit
                    tempore
                    dolore earum quae voluptatibus quod neque nulla ipsam impedit corporis vitae fuga inventore
                    explicabo
                    pariatur!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, tenetur? Unde, voluptatum. Nostrum
                    repellendus ea fugit illo similique beatae, libero adipisci temporibus, corrupti optio consectetur
                    amet
                    ullam eos deserunt aut!</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>